body {
  margin: 0;
  background-color: black;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#grinder {
  position: absolute;
  width: 100%;
  height: 25%;
  object-fit: contain;
  margin-top: 2%;
  top: 0px;
}

#circle {
  position: absolute;
  border-radius: 50%;
  border-color: rgb(245, 253, 253);
}

#errorMessage {
  text-align: center;
  word-wrap: break-word;
  font-size: 60px;
  background-color: white;
  color: red;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.on {
  border-style: solid;
}
