body {
  margin: 0;
  background-color: black;
}

#background {
  position: absolute;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#circle {
  position: absolute;
  display: block;
  height: 600px;
  width: 600px;
  margin-left: 220px;
  margin-top: 650px;
  border-radius: 50%;
}

.on {
  border: 80px solid greenyellow;
}
